<!--To change container breakpoints, update bootstrap variables-->
{{#container-demo}}
<div class="container{{ container.size }} {{container.styleModifier}}">
        {{ container.text }}
</div>
{{/container-demo}}