.c-footer-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    min-width: 75%;
    &__item {
        height: auto;
        padding: rem-calc(10px);
        width: rem-calc(50px);
        &__link {
            img {
                color: $thistle-contrast;
                fill: $thistle-contrast;
            }
        }
    }
}
