// This is a file to RESET common variable in the HTML to make life easier :) 

* {
	box-sizing: border-box;
}

html {
	min-height: 100vh; /* 1 */
}

button {
	cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.primary {
  font-family: $font-family-primary;
}

.secondary {
  font-family: $font-family-secondary;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.vishidden { // Completely remove from the flow but leave available to screen readers.
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
