/*------------------------------------*\
    #RESET
\*------------------------------------*/

 * {
	box-sizing: border-box;
}

html {
	min-height: 100vh; /* 1 */
}

button {
	cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.primary {
  font-family: $font-family-primary;
}

.secondary {
  font-family: $font-family-secondary;
}