/* ------------------------------------*\
    #FONTS
\*------------------------------------ */

/**
 * Import fonts that we need
 */

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/NeueHaasDisplay-BlackItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 96 Black Italic'),
        local('../fonts/NeueHaasDisplay-BlackItalic'),
        url('../fonts/NeueHaasDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-BlackItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NeueHaasDisplay-Mediu.eot');
    src: local('Neue Haas Grotesk Display Pro 65 Medium'),
        local('../fonts/NeueHaasDisplay-Mediu'),
        url('../fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/NeueHaasDisplay-Light.eot');
    src: local('Neue Haas Grotesk Display Pro 45 Light'),
        local('../fonts/NeueHaasDisplay-Light'),
        url('../fonts/NeueHaasDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Light.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/NeueHaasDisplay-ThinItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 36 Thin Italic'),
        local('../fonts/NeueHaasDisplay-ThinItalic'),
        url('../fonts/NeueHaasDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-ThinItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/NeueHaasDisplay-RomanItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 56 Roman Italic'),
        local('../fonts/NeueHaasDisplay-RomanItalic'),
        url('../fonts/NeueHaasDisplay-RomanItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-RomanItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-RomanItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/NeueHaasDisplay-XXThinItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 16 XXThin Italic'),
        local('../fonts/NeueHaasDisplay-XXThinItalic'),
        url('../fonts/NeueHaasDisplay-XXThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-XXThinItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-XXThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NeueHaasDisplay-Roman.eot');
    src: local('Neue Haas Grotesk Display Pro 55 Roman'),
        local('../fonts/NeueHaasDisplay-Roman'),
        url('../fonts/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Roman.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Roman.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/NeueHaasDisplay-BoldItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 76 Bold Italic'),
        local('../fonts/NeueHaasDisplay-BoldItalic'),
        url('../fonts/NeueHaasDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/NeueHaasDisplay-Thin.eot');
    src: local('Neue Haas Grotesk Display Pro 35 Thin'),
        local('../fonts/NeueHaasDisplay-Thin'),
        url('../fonts/NeueHaasDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Thin.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/NeueHaasDisplay-Black.eot');
    src: local('Neue Haas Grotesk Display Pro 95 Black'),
        local('../fonts/NeueHaasDisplay-Black'),
        url('../fonts/NeueHaasDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Black.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/NeueHaasDisplay-XXThin.eot');
    src: local('Neue Haas Grotesk Display Pro 15 XXThin'),
        local('../fonts/NeueHaasDisplay-XXThin'),
        url('../fonts/NeueHaasDisplay-XXThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-XXThin.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-XXThin.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/NeueHaasDisplay-MediumItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 66 Medium Italic'),
        local('../fonts/NeueHaasDisplay-MediumItalic'),
        url('../fonts/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/NeueHaasDisplay-Bold.eot');
    src: local('Neue Haas Grotesk Display Pro 75 Bold'),
        local('../fonts/NeueHaasDisplay-Bold'),
        url('../fonts/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Bold.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/NeueHaasDisplay-XThin.eot');
    src: local('Neue Haas Grotesk Display Pro 25 XThin'),
        local('../fonts/NeueHaasDisplay-XThin'),
        url('../fonts/NeueHaasDisplay-XThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-XThin.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-XThin.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/NeueHaasDisplay-LightItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 46 Light Italic'),
        local('../fonts/NeueHaasDisplay-LightItalic'),
        url('../fonts/NeueHaasDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-LightItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/NeueHaasDisplay-XThinItalic.eot');
    src: local('Neue Haas Grotesk Display Pro 26 XThin Italic'),
        local('../fonts/NeueHaasDisplay-XThinItalic'),
        url('../fonts/NeueHaasDisplay-XThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-XThinItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-XThinItalic.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
