<div class="c-card-container{{ cardImg }}">
  <div class="c-card-overlay">
    <h2 class="card__title">{{ title }}</h2>
	  {{#if description}}<p class="card__excerpt">{{ description }}</p>{{/ if }}
    <div class="card__cta">{{> molecules-button }}</div>
  </div>
</div>

