{{#header}}
<div class="c-page-header {{ styleModifier }}">

    <h1 class="c-page-header__title" id="{{ id }}">{{ title }}</h1>

    {{#if description }}
    <p class="c-page-header__description">{{ description }}</p>
    {{/ if }}
</div>
{{/header}}