/* ------------------------------------*\
    #PAGE HEADER
\*------------------------------------ */

/**
 * 1) Container that consists of of a page header title and description
 */

/**
 * Page header title
 */
.c-page-header__title {
    @include textGradient();

    font-family: $font-family-primary;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
}

/**
 * Page description
 */
.c-page-header__description {
    font-size: $font-size-lg;
    margin-bottom: $spacer;
}
