.inline-flex {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing;
}

.icon-react {
    height: auto;
    margin-bottom: rem-calc(8px);
    margin-left: rem-calc(10px);
    width: rem-calc(40px);
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row::after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
