<div class="c-card-list row row-cols-1 row-cols-sm-1 row-cols-md-2">
    {{#each cards }}
    <div class="c-card-list__item col">
        {{> molecules-card }}
    </div>
    {{/ each }}
</div>
