{{> organisms-header }}

<main>

    {{#> molecules-layout-container }}

        {{> molecules-page-header }}

        {{> organisms-card-list }}

        {{#> organisms-section }}

        {{> organisms-text-passage }}

        {{/ organisms-section }}

    {{/ molecules-layout-container}}

</main>

{{> organisms-footer }}