{{#container}}
<div class="container{{ size }} {{styleModifier}}">
    {{#description}}<span class="hidden">{{/description}}
    {{> @partial-block }}{{#description}}</span>{{/description}}
    {{#description}}{{ text }}{{/description}}
</div>
{{/container}}
