/* ------------------------------------*\
    #HEADER
\*------------------------------------ */

/**
 * Global block at the top of each page containing the navigation, logo, and other potential contents
 */
.c-header {
    margin-bottom: $spacer;
    padding: $spacer;
    position: relative;
}

/**
 * Header inner
 */
.c-header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
