<!DOCTYPE html>
<html lang="en">
  <head>
    {{#meta}}
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {{#sylesheetSmall}}<link rel="stylesheet" href="{{ sylesheetSmall }}?{{ cacheBuster }}" media="all" />{{/sylesheetSmall}}
    {{#sylesheetMedium}}<link rel="stylesheet" href="{{ sylesheetMedium }}?{{ cacheBuster }}" media="all" />{{/sylesheetMedium}}
    {{#sylesheetLarge}}<link rel="stylesheet" href="{{ sylesheetLarge }}?{{ cacheBuster }}" media="all" />{{/sylesheetLarge}}
    {{#sylesheetXl}}<link rel="stylesheet" href="{{ sylesheetXl }}?{{ cacheBuster }}" media="all" />{{/sylesheetXl}}
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    {{#bootstrapCDN}}<script src="{{ bootstrapCDN }}"></script>{{/bootstrapCDN}}
    {{#jsFile}}<script src="{{ jsFile }}" type="text/javascript"></script>{{/jsFile}}
    {{/meta}}
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  </head>
  <body>
